$main-bg: #f0f0f0;
$main-color: #e90a27;
$footer-bg: #ffffff;
$black: #000000;
$text-white: #ffffff;

$header-height: 120px;
$header_tablet-height: 80px;
$header_mobile-height: 60px;
$header_shrink-height: 80px;

$title-font-family: 'Dela Gothic One', cursive;
$font-s: 15px;
$font-m: 18px;
$font-x: 20px;
$font-xl: 24px;
$font-xxl: 32px;
$font-biggest: 48px;

$mobile-width: 600px;
$tablet-width: 1023px;

$box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;